/.git
/.github
/.idea
/.vscode
/docker/*
!/docker/deploy
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/app/private
/storage/app/public/fonts
/data
/vendor
_ide_helper.php
.editorconfig
.phpstorm.meta.php
.phpunit.result.cache
auth.json
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log